# ── Backend Environment Variables ──
# Copy this file to .env and fill in your values

# Server
PORT=5000

# MongoDB Atlas connection string
# MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/organic_shop?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://sindujaravi06_db_user:PVt5IEevOqpXdyIW@cluster0.ych8bgg.mongodb.net/

# JWT — cryptographically generated 64-byte hex secret
JWT_SECRET=793c0d18b0f06aa4a2bb5bd2b69944c9ea0d3ff1f45f765d89d06f2c277f12631baa7402959597becd4fb5c1a94ae0847c06972da63ff59ad36e91db1ea39995

# Frontend URL (for CORS) — your Vercel URL in production
# CLIENT_URL=http://localhost:3000
CLIENT_URL=https://vijayalakshmi-iyarkai-angadi.vercel.app

# UPI payment ID
# UPI_ID=yourupi@bank
UPI_ID=vigneshvickysvva@oksbi

# Cloudinary — required for production image uploads
# Get these from cloudinary.com → Dashboard
# CLOUDINARY_CLOUD_NAME=your_cloud_name
# CLOUDINARY_API_KEY=your_api_key
# CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_CLOUD_NAME=dbrt1mkr7
CLOUDINARY_API_KEY=314383557922355
CLOUDINARY_API_SECRET=qsd_ET1dHqMTcszlnOyv06kdK_E
